.manage-user-body{
    background-color: #FAFAFA;
}
.manage-user-find{
    margin: 20px 20px;
    width: 400px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding-left: 10px;
    background: #fff;
    border-radius: 10px;
  
}
.manage-user-find input{
    width: 90%;
    border: none;
    height: 45px;
    background-color: #fff;
}
.manage-user-find input:focus{
    outline: none;
}
.manage-user-iconFind{
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  border-radius: 20px;
}
.manage-user-iconFind:hover{
    border-radius: 50px;
    background-color: gray;
}