.jss1{
    width: 80%;
    margin: 50px auto;
    border: solid 1px rgb(148, 147, 147);
    .jss2{
        border: solid 1px rgb(148, 147, 147);
        text-align: center;
        
    }
    .jss3{
        padding: 20px;
        margin: 10px 0;
    }
    .jss4{
        display: flex;
        margin: 30px 0;
    }
    .jss5{
        border: solid 1px rgb(148, 147, 147);
        padding: 20px;
    }
    .historyItem {
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
        h3 {
          color: #333;
          margin-bottom: 10px;
        }
      
        p {
          margin: 5px 0;
        col
          strong {
            margin-right: 5px;
          }
        }
      }
    .jss6{
        width: 100%;
        padding: 20px;
        background-color: #ad2d19;
        color: white;
    }
}